/**, *:before, *after {
	box-sizing: border-box;
}*/

body, header, article, aside {
	background-color: #ffffff;
	font-family: lato;
	font-weight: 300;
}

/*********** this is the header/nav ************/
header, nav {
	clear: both;
}
h1, h2, h3, h4, a, p, nav {
	font-weight: 300;
}
h1, h2 {
	display: inline-block;
	margin-right: 30px;
}
h1 a {
	color: #f8ce78;
	text-decoration: none;
	font-size: 68px;
}
h2 {
	font-size: 36px;
}
article, article img {
	padding-bottom: 40px;
}
nav {
	width: 100%;
}
nav a {
	color: white;
	font-size: 28px;
	text-decoration: none;
	text-align: center;
	background-color: #b0b6bb;
	padding-top: 10px;
	padding-bottom: 10px;
}
.buttons {
	margin-bottom: 20px;
}
.button {
	display: inline-block;
	width: 16.45%;
}
.button:hover {
	background-color: #f8ce78;
	-webkit-box-shadow: 0px 0px 30px 3px rgba(191,191,191,0.52);
	-moz-box-shadow: 0px 0px 30px 3px rgba(191,191,191,0.52);
	box-shadow: 0px 0px 30px 3px rgba(191,191,191,0.52);
}
/*********** this is the content ************/
.content {
	width: 100%;
	clear: right;
	margin-bottom: 40px;
}
.articles { 
	float:left; 
	width: 75%;
}
article {
	border-bottom: 2px solid #dddddd;
	float: left;
}
/*this is a pseudo-element*/
article p::first-letter {
	font-size: 128px;
	color: #dddddd;
	float: left;
	margin: -27px 10px 10px 0px;
	padding: 0px;
	vertical-align: top;
}
article p {
	font-size: 24px;
}
h3 {
	color: #d7cdcc;
	font-size: 44px;
}
h4 a {
	float: right;
	color: #f8ce78;
	font-size: 24px;
}
aside {
	float: right;
	width: 23%;
	color: #ad8b88;
}
aside div{
	border-bottom: 2px solid #dddddd;
	padding-bottom: 40px;
}
aside p, aside a {
	font-size: 20px;
}
aside div img {
	max-width: 100%;
	padding-top: 40px;
}
h2 a {
	color: #000000;
	text-decoration: none;
	font-size: 60px;
}
aside h4 {
	font-size: 20px;
	font-weight: 400;
}
.more a {
	color: #f8ce78;
	text-decoration: none;
}
aside li a {
	color: #f8ce78;
}

aside div:last-of-type {
	border-bottom: none;
}
/**********this is the footer*************/
footer {
	float: left;
	clear: both;
	margin-top: 40px;
}
footer nav a {
	color: #f8ce78;
	text-decoration: none;
	font-size: 28px;
	border: none;
	background-color: #ffffff;
}